.navbar-wrapper {
  display: contents;
}
 
.navbar-navbar {
  width: 100%;
  display: flex;
  z-index: 1000;
  position: relative;
  max-width: 1200px;
  align-self: auto;
  align-items: center;
  flex-shrink: 1;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  padding-bottom: var(--dl-layout-space-fiveunits);
}
 
.navbar-navlink {
  display: contents;
}
 
.navbar-image1 {
  width: 200px;
  object-fit: cover;
  text-decoration: none;
}
 
.navbar-nav-content {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  align-items: center;
  margin-left: auto;
  flex-direction: row;
  justify-content: flex-start;
}
 
.navbar-nav-links1 {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  align-items: flex-start;
  border-color: transparent;
}
 
.navbar-link1 {
  text-decoration: none;
}
 
.navbar-link2 {
  text-decoration: none;
}
 
.navbar-link3 {
  text-decoration: none;
}
 
.navbar-hamburger {
  display: none;
}
 
.navbar-image2 {
  width: 100px;
  object-fit: cover;
}
 
.navbar-mobile-menu {
  gap: var(--dl-layout-space-twounits);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: var(--dl-layout-space-twounits);
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: column;
  background-color: #fff;
}
 
.navbar-branding {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.navbar-image3 {
  width: 100px;
  filter: brightness(0) saturate(100%);
  object-fit: cover;
}
 
.navbar-container1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.navbar-icon1 {
  width: 24px;
  height: 24px;
}
 
.navbar-nav-links2 {
  gap: var(--dl-layout-space-unit);
  color: var(--dl-color-gray-black);
  display: flex;
  flex-direction: column;
}
 
.navbar-text {
  color: rgba(255, 255, 255, 1);
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  font-stretch: normal;
  text-decoration: none;
}
 
.navbar-container3 {
  display: contents;
}
 
.navbarroot-class-name {
  padding-top: var(--dl-layout-space-twounits);
  padding-bottom: var(--dl-layout-space-unit);
}
 
.navbarroot-class-name1 {
  padding-bottom: var(--dl-layout-space-unit);
}
 
.navbarroot-class-name2 {
  padding-bottom: var(--dl-layout-space-unit);
}
 
@media(max-width: 767px) {
  .navbar-navbar {
    padding-bottom: var(--dl-layout-space-fourunits);
  }
  .navbar-nav-links1 {
    display: none;
  }
  .navbar-hamburger {
    display: flex;
    padding-left: var(--dl-layout-space-unit);
    padding-right: var(--dl-layout-space-unit);
  }
  .navbar-image2 {
    width: 16px;
    height: 14px;
  }
  .navbar-branding {
    width: 100%;
  }
  .navbar-nav-links2 {
    margin-top: var(--dl-layout-space-twounits);
    align-items: flex-start;
    margin-bottom: var(--dl-layout-space-twounits);
    justify-content: center;
  }
}

.about-banner-wrapper {
  display: contents;
}
 
.about-banner-container1 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  position: relative;
  align-items: center;
  background-color: #3158c0;
}
 
.about-banner-max-width {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.about-banner-container2 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.about-banner-title {
  color: #ffffff;
  text-align: center;
}
 
.about-banner-text1 {
  color: #ffffff;
  text-align: center;
}
 
.about-fragment1 {
  display: contents;
}
 
.about-text1 {
  display: inline-block;
  font-family: "Arial";
}
 
.about-fragment2 {
  display: contents;
}
 
.about-text2 {
  display: inline-block;
  font-family: "Arial";
}
 
.about-bannerroot-class-name {
  padding-top: var(--dl-layout-space-twounits);
  padding-bottom: var(--dl-layout-space-twounits);
}

.about-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #000000;
}
 
.about-fragment1 {
  display: contents;
}
 
.about-text1 {
  display: inline-block;
  font-family: "Arial";
}
 
.about-fragment2 {
  display: contents;
}
 
.about-text2 {
  display: inline-block;
  font-family: "Arial";
}
 
.about-link {
  display: contents;
}
 
.about-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.about-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.about-text3 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
