.about-banner-container1 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  position: relative;
  align-items: center;
  background-color: #3158c0;
}
 
.about-banner-max-width {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.about-banner-container2 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.about-banner-title {
  color: #ffffff;
  text-align: center;
}
 
.about-banner-text1 {
  color: #ffffff;
  text-align: center;
}
 
.about-banner-fragment1 {
  display: contents;
}
 
.about-banner-text2 {
  display: inline-block;
  font-family: "Arial";
}
 
.about-banner-fragment2 {
  display: contents;
}
 
.about-banner-text3 {
  display: inline-block;
  font-family: "Arial";
}
 
.about-bannerroot-class-name {
  padding-top: var(--dl-layout-space-twounits);
  padding-bottom: var(--dl-layout-space-twounits);
}
