.home-banner-container1 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  position: relative;
  align-items: center;
  background-color: #0c6f35;
}
 
.home-banner-max-width {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-banner-container2 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-banner-title {
  text-align: center;
}
 
.home-banner-text1 {
  text-align: center;
}
 
.home-banner-navlink {
  border-color: #ffffff;
  text-decoration: none;
  background-color: #347cf3;
}
 
.home-banner-fragment1 {
  display: contents;
}
 
.home-banner-text3 {
  display: inline-block;
  font-family: "Arial";
}
 
.home-banner-fragment2 {
  display: contents;
}
 
.home-banner-text4 {
  display: inline-block;
  font-family: "Arial";
}
 
.home-banner-fragment3 {
  display: contents;
}
 
.home-banner-text5 {
  display: inline-block;
}
 

