.item-home-banner-container1 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  position: relative;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  background-color: #5c2294;
}
 
.item-home-banner-max-width {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.item-home-banner-container2 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.item-home-banner-title {
  text-align: center;
}
 
.item-home-banner-text1 {
  text-align: center;
}
 
.item-home-banner-fragment1 {
  display: contents;
}
 
.item-home-banner-text2 {
  color: rgb(255, 255, 255);
  display: inline-block;
  font-family: "Arial";
}
 
.item-home-banner-fragment2 {
  display: contents;
}
 
.item-home-banner-text3 {
  color: #ffffff;
  display: inline-block;
  font-family: "Arial";
}
 
.item-home-bannerroot-class-name {
  padding-top: var(--dl-layout-space-twounits);
  padding-bottom: var(--dl-layout-space-twounits);
}
